.CombatEvents
{
	/* Flip the container vertically so that the scroll offset is measured from the bottom,
	   not the top. This is so that it remains constant when a new line is added or
	   the container grows/shrinks. */
	transform: scaleY( -1.0 );
	height: 385px;
	overflow: noclip clip;

	margin-top: 380px;
}

.HUDFlipped .CombatEvents
{
	horizontal-align: right;
}

.CombatEvents.RevealCollapsed
{
	overflow: noclip scroll;
}

#ToastLinesWrapper
{
    overflow: noclip noclip;
}

#ToastManager
{
	flow-children: down;
	overflow: noclip noclip;
	/* Reverse the transform done in .CombatEvents so the lines are rightside up */
    transform: scaleY( -1.0 );
}

#ToastManager.RevealCollapsed
{
	
}

VerticalScrollBar
{
	horizontal-align: left;
}

.HUDFlipped #ToastManager
{
	margin-right: 0px;
	//margin-left: 20px;
}

@define toastExitDuration: 0.2s;

#ToastManager > .ToastPanel
{
	opacity: 0;
	transform: translateX( -40px );

	transition-property: opacity, transform;
	transition-duration: toastExitDuration;
    animation-name: CombatEvent;
    animation-duration: .41s;
}

.HUDFlipped #ToastManager > .ToastPanel
{
	transform: translateX( 40px );
}


#ToastManager > .ToastPanel.Collapse
{
	visibility: collapse;
	transition-duration: 0s;
}

#ToastManager > .ToastPanel.ToastVisible
{
	opacity: 1.0;
	transform: none;
}

#ToastManager.RevealCollapsed > .ToastPanel.Collapse,
#ToastManager.RevealCollapsed > .ToastPanel
{
	visibility: visible;
	opacity: 1.0;
	transform: translateX( 0px );
	transition-duration: 0s;
}


.CombatEventRow.event_dota_player_kill.LocalPlayerKiller
{
    sound: "notification.self.kill";
}

.CombatEventRow.event_dota_player_kill.LocalPlayerVictim
{
    sound: "notification.self.death";
}

.CombatEventRow.event_dota_player_kill.AllyEvent
{
    sound: "notification.teammate.kill";
}

.CombatEventRow.event_dota_player_kill.EnemyEvent
{
    sound: "notification.teammate.death";
}



.CombatEventRow
{
	horizontal-align: left;
	flow-children: left;
	height: 30px;
	margin-top: 5px;
	overflow: noclip;
}

.CombatEventRow.LocalPlayerInvolved
{
	//background-color: #00000055;
}

.HUDFlipped .CombatEventRow
{
	horizontal-align: right;
	flow-children: right;
}

.EventListLabel
{
	color: #ffffff;
	font-size: 18px;
    font-weight: bold;
	text-shadow: 2px 2px 0px 1 black;
	vertical-align: center;
    padding-top: 4px;
	height: 30px;
    padding-left: 18px;
    padding-right: 0px;
}

.HUDFlipped .EventListLabel
{
    padding-right: 18px;
    padding-left: 0px;
}


.CombatEventGoldIcon
{
	width: 20px;
	height: 20px;
	margin-left: 3px;
	margin-right: 3px;
	//transform: translateY( 14px );
	background-image: url("s2r://panorama/images/hud/icon_gold_psd.vtex");
	background-size: 100%;
}

.CombatEventLumberIcon
{
	width: 20px;
	height: 20px;
	margin-left: 3px;
	margin-right: 3px;
	//transform: translateY( 14px );
	background-image: url( "file://{images}/custom_game/lumber.png" );
	background-size: 100%;
}

.CombatEventKillIcon
{
	width: 48px;
	height: 30px;
	margin-left: 2px;
	margin-right: 2px;
	transform: translateY( -2px );
	background-image: url("s2r://panorama/images/hud/icon_kill_enemy_psd.vtex");
	background-size: 100%;
}

.AllyEvent .CombatEventKillIcon
{
	background-image: url("s2r://panorama/images/hud/icon_kill_ally_psd.vtex");
}

.NeutralEvent .CombatEventKillIcon
{
	saturation: 0;
}



.CombatEventHeroIcon
{
	width: 24px;
	height: 100%;
    vertical-align: center;
    padding-bottom: 3px;
    margin-right: 4px;
    //transform: translateY( 11px );
}

.DuelDrawIcon
{
	width: 48px;
	height: 30px;
	margin-left: 2px;
	margin-right: 2px;
	transform: translateY( -2px );
	background-image: url( "file://{images}/custom_game/toast_icon_duel_draw.png");
	background-size: 100%;
}

.TradeIcon
{
	width: 48px;
	height: 30px;
	margin-left: 2px;
	margin-right: 2px;
	transform: translateY( -2px );
	background-image: url( "file://{images}/custom_game/toast_icon_trade.png");
	background-size: 100%;
}



.DeniedIcon
{
    width: 48px;
    height: 30px;
	transform: translateY( -2px );
	background-size: 100%;
	background-image: url("s2r://panorama/images/hud/icon_suicide_enemy_psd.vtex");
}

.AllyEvent .DeniedIcon
{
	background-image: url("s2r://panorama/images/hud/icon_suicide_ally_psd.vtex");
}

#RuneIcon
{
	margin-top: 3px;
    width: 24px;
	height: 24px;
	transform: translateY( -2px );
	margin-left: 2px;
	margin-right: 2px;
}

#SlashContainer
{
	width: 18px;
	height: 100%;
    opacity-mask: url("s2r://panorama/images/masks/combat_event_slant_left_psd.vtex");
	overflow: clip;
}

.HUDFlipped #SlashContainer
{
    opacity-mask: url("s2r://panorama/images/masks/combat_event_slant_right_psd.vtex");
}

.AllyEvent.LocalPlayerInvolved #SlashContainer { background-color: #00000088; }
.EnemyEvent.LocalPlayerInvolved #SlashContainer { background-color: #00000088; }
.AllyEvent #SlashContainer 			 { background-color: #00000088; }
.EnemyEvent #SlashContainer			 { background-color: #00000088; }

.AllyEvent.LocalPlayerInvolved .EventListLabel { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #2E4826cc ) ); }
.EnemyEvent.LocalPlayerInvolved .EventListLabel { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #5B3525cc ) ); }
.AllyEvent .EventListLabel			 { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #111111cc ) ); }
.EnemyEvent .EventListLabel			 { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #111111cc ) ); }

.NeutralEvent #SlashContainer 			 { background-color: #00000088; }
.NeutralEvent .EventListLabel			 { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #111111cc ) ); }

.DuelDrawEvent #SlashContainer { background-color: #00000088; }
.DuelDrawEvent .EventListLabel			 { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #111155cc ) ); }

.TradeEvent #SlashContainer { background-color: #00000088; }
.TradeEvent .EventListLabel			 { background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000088 ), to( #CCB22244 ) ); }

#TeamColorBar
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #666666 ), color-stop( 0.5, #ffffff ), to( #666666 ) );
	width: 12px;
	margin-top: -6px;
	height: 44px;
    margin-left: 7px;
    margin-right: 0px;
	visibility: collapse;
	transform: rotateZ(25deg);
	border-radius: 0.1px;
}

.HUDFlipped #TeamColorBar
{
    margin-left: -2px;
}

.AllyEvent #TeamColorBar
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #629f52 ), to( #436e38 ) );
}

.EnemyEvent #TeamColorBar
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #d1471f ), to( #a43819 ) );
}

.NeutralEvent #TeamColorBar
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #777777 ), to( #999999 ) );
}

.DuelDrawEvent #TeamColorBar
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #3152FD ), to( #3152FD ) );
}

.TradeEvent #TeamColorBar
{
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #978519 ), to( #978519 ) );
}

.TradeEvent #TeamColorBar,
.DuelDrawEvent #TeamColorBar,
.NeutralEvent #TeamColorBar,
.AllyEvent #TeamColorBar,
.EnemyEvent #TeamColorBar
{
	visibility: visible;
}

@keyframes 'CombatEvent'
{
    0%
    {
        pre-transform-scale2d: .2;
        opacity: 0;
    }

    50%
    {
        pre-transform-scale2d: 1.5;
        opacity: 1;
    }

    100%
    {
        pre-transform-scale2d: 1;
        opacity: 1;
    }
}