#image_bg 
{
  margin-left: 0%;

}

.Root
{
  width: 100%;
  height: 100%;
}

.ImageBg
{
  min-width: 100%;
  min-height: 100%;
  visibility: visible;
}

#Tip
{
  vertical-align: center;
  horizontal-align: center;

  width: 60%;

  font-size:24px;
  text-align: center;
  color:#A5A5A5;
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
  
}

#TipContainer
{
  width: 100%;
  height: 60px;
  margin-top:92%;
  //background-color: #22222233;
}

