#image_bg 
{
  margin-left: 0%;

}

.Root
{
  width: 100%;
  height: 100%;
}

.ImageBg
{
  min-width: 100%;
  min-height: 100%;
  visibility: visible;
}

#Links
{
  	flow-children: right;
  	vertical-align: bottom;
  	horizontal-align: center;
  	margin-bottom: 80px;
}

.link
{
	margin-right: 20px;
}





