.GameInfo
{
    width:100%;
    flow-children: down;
}
 
Label
{
    font-size: 20px;
    color: #999999;
    vertical-align: top;
}
 
#Title
{
    flow-children: right;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#Image1
{
    width: 280px;
    height: 220px;
}

#Image2
{
    width: 240px;
    height: 220px;
}

#Image22
{
    width: 200px;
    height: 200px;
	margin-left: 10px;
}

#ImageDu
{
    width: 500px;
    height: 340px;
	vertical-align: center;
}

#ImageRunes
{
    width: 400px;
    height: 300px;
	vertical-align: center;
}


#Image3
{
    width: 350px;
    height: 200px;
	vertical-align: center;
	//margin-left: 350px;
}

#ImageSmall
{
    width: 170px;
    height: 40px;
	margin-left: 50px;
}

#ImageSmall2
{
    width: 60px;
    height: 40px;
	margin-left: 15px;
}

#TitleName
{
    color: #cccccc;
    font-size: 64px;
    margin-left: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
}

#ItemsText
{
    width: 50%;
}

.Header
{
	text-align: center;
	font-size: 20px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
	
}

#Image1Text
{   
    margin-top:  20px;
	text-align: left;
	width: 200px;
}

#Image2Text
{   
    margin-top:  20px;
	text-align: left;
	width: 300px;
	/*height: 200px;*/
}

#Image3Text
{   
    margin-top:  20px;
	text-align: left;
	width: 300px;
	/*height: 200px;*/
}


#Image22Text
{   
    margin-top:  20px;
	margin-left:  20px;
	margin-right:  20px;
	text-align: left;
	width: 300px;
	/*height: 200px;*/
}

#ImageSmallText
{   
    /*margin-top:  20px;*/
	text-align: left;
	/*width: 200px;*/
	/*height: 200px;*/
}

#ImageSmallText2
{   
    margin-left:  10px;
	text-align: left;
	width: 130px;
	/*height: 200px;*/
}

#Image1Row
{
    margin-top: 10px;
	margin-left: 10px;
	
}

#ImageSmallRow
{
    margin-top: 10px;
	margin-left: 10px;
	
}

#ObjectiveHeader
{
	margin-top: 18px;
}

#TipsHeader
{
    visibility: collapse;
}

.TipsRow
{
    width: 100%;
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

.TipText
{
    width: 80%;
	margin-left: 16px;
    margin-top: 10px;
}

.InfoRow
{
	font-size: 20px;
    flow-children: right;
    width: 100%;
	margin-top: 18px;
}

.InfoRowTarget
{
	font-size: 22px;
    flow-children: right;
    width: 100%;
	color: #95460e;
}