.GameInfo
{
    width:100%;
    flow-children: down;
}
 
Label
{
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}
 
#Title
{
    flow-children: right;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
    color: #cccccc;
    font-size: 64px;
    margin-left: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
}

#ItemsText
{
    width: 50%;
}

.Header
{
	font-size: 18px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
}

#ObjectiveHeader
{
	margin-top: 18px;
}

#TipsHeader
{
    visibility: collapse;
}

.TipsRow
{
    width: 100%;
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

.TipText
{
    width: 80%;
	margin-left: 16px;
    margin-top: 10px;
}

.InfoRow
{
    flow-children: right;
    width: 100%;
}