.GameTimeClock
{
	width: 100%;
	height: 100%;
}

#Clock
{
	position: 95% 10px 0px;
	width: 100px;
	height: 23px;

	text-shadow: 1px 1px 2px 2 #000000;
	text-align: center;
	font-size: 20px;
	color: #C5DAFF;

	background-color: gradient( linear, 0% 0%, 100% 0%, from( #25282a00 ), color-stop( .3, #25282a99), color-stop( .8, #25282aaa), to( #00000022 ) );
}

#Clock.underNetGraph
{
	y: 50px;
}

.AspectRatio4x3 #Clock
{
	x: 93%;
}

.AspectRatio5x4 #Clock
{
	x: 93%;
}