#Contents 
{
	flow-children: down;
	width: 400px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}

#title
{
	color: white;
	font-size: 20px;
}

#descriptionContainer
{
	flow-children: none;
	width: 100%;
}


#description, #description_1_player
{
	color: #CCCCCC;
	font-size: 16px;

	border-top-color: #626262;
    border-top-width: 1px;
    border-top-style: solid;

    width: 100%;
    padding: 5px 0px 2px 0px;
}

#description_1_player
{
	visibility: collapse;
}

.one_player #description
{
	visibility: collapse;
}

.one_player #description_1_player
{
	visibility: visible;
}