
.GlyphRoot
{
	width: 100%;
	height: 100%;
}


#GlyphButton
{
	horizontal-align: right;
	vertical-align: bottom;

	transition-property: brightness,saturation;
	transition-duration: 0.1s;

	border-radius: 0px;
	border: 0px;
	box-shadow: none;

	background-image: url( "file://{images}/custom_game/glyph.png" );
	background-repeat: no-repeat;
	background-position: 70% 50%;
	background-color: none;
	background-size: 62px 70px;

	margin: 0px;
	width: 62px;
	height: 70px;

	tooltip-position: left top;
}

#GlyphButton:hover
{
	brightness:1.5;
}


.ReadyToRound
{
	brightness:3;
}

.ReadyToRound #GlyphButton:hover
{
	brightness:3;
}


#GlyphButton:disabled
{
	saturation:0.6;
}

#GlyphButton:hover:disabled
{
	brightness:1;
}
