.KillsHud
{
    width: 100%;
    height: 100%;
}

#LiaKillBoss2
{
    flow-children: right;
    horizontal-align: center;
    opacity: 0.;
    margin-top: 120px;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transform: translatey(-180px);
    //visibility:  collapse;
    //border: 1px solid blue;
}

#LiaKillBoss1
{
    flow-children: right;
    horizontal-align: center;
    opacity: 0.;
    margin-top: 75px;
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    transform: translatey(-120px);
    //visibility:  collapse;
    //border: 1px solid blue;
}

#LiaKillBoss_Text
{
    color: white;
    horizontal-align: center;
	vertical-align: center;
    text-shadow: 1px 1px 1px 2.  #121212;
    font-size: 23px;
    font-weight: bold;
	margin-left: 10px;
}

#LiaKillBoss_Text2
{
    color: white;
    horizontal-align: center;
	vertical-align: center;
    text-shadow: 1px 1px 1px 2. #121212;
    font-size: 23px;
    font-weight: bold;
	margin-left: 2px;
}

#HeroIcon
{
    vertical-align: middle;
}

.kill_start1 #LiaKillBoss1
{
    opacity: 1.;
    transform: scaleX(1) scaleY(1);
    //visibility: visible;
}

.kill_start2 #LiaKillBoss2
{
    opacity: 1.;
    transform: scaleX(1) scaleY(1);
    //visibility: visible;
}