
.LiATimer
{
    position: 40px 80px 0px;

    width: 500px;
    height: 60px;
}

#TimerContainer
{
    width: 100%;
    height: 100%;
}

.Hidden
{
    visibility: collapse;
}

Label
{
    text-shadow: 0px 2px 4px 3.0 #000000аа;
    font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
    font-weight: normal;
    text-transform: uppercase;
    
}

#timerText
{
    margin-left: 3px;
}

#timer
{
    horizontal-align: right;
    font-size: 19px;
}

#waveName
{
    horizontal-align: center;
    vertical-align: bottom;
}

ProgressBar
{
    width: 100%;
    height: 11px;

    margin-top: 23px;

    border-radius: 5px;
    border: 2px solid black;

    box-shadow: fill #000000ff 4px 4px 8px 0px;
}

.ProgressBarLeft
{
    background-color: #878a97;
}

.ProgressBarRight
{
    background-color: #0b1d2e;
}