
.HeroSelectOverlayRoot
{
	width: 100%;
	height: 210px;
    //margin-top: 50px;
    flow-children: right;
    z-index: 5;
}

#PlayersContainer
{
    margin-left: 150px;
    flow-children: right;
    //horizontal-align:center;
}

#HeroSelectPlayersContainer
{
    width: 100%;
    flow-children: right;
}

.HeroSelectPlayerRoot
{
    flow-children: down;
    width: 98px;
}


#PlayerGradient
{
	width: 90%;
	height: 24px;
    horizontal-align:center;
}


#PlayerPortrait
{
    background-color: #444444;
    border: 1px solid black;
    width: 90px;
    height: 50px;
    //horizontal-align:center;
}

#PlayerName
{
	text-align: center;
	margin-top: 3px;
    color: #a9aaaa;
    font-size: 16px;
    width: 90px;
    white-space: nowrap;
    horizontal-align:center;
}

.HeroSelectPlayerRoot.hero_highlighted #PlayerPortrait
{
    saturation: 0.0;
}
