@define BACKGROUND_COLOR: #303030DE;

.EndScreenRoot
{
	width: 100%;
    height: 100%;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000FF ), color-stop( 0., #000000ff ), color-stop( 0., #00000000 ), to( #00000000 ) );
}

#VictoryRow
{
	flow-children: right;
    horizontal-align: right;
	margin-right: 8px;
	margin-bottom: 16px;

	transition-property: opacity, transform;
    transition-duration: 1s;
	opacity: 0;
	transform: scaleX(0) scaleY(0) translatey(-50px);
}

.endgame #VictoryRow
{
	opacity: 1;
	transform: scaleX(1) scaleY(1);
}

#StatusScore
{
    color: white;
    horizontal-align: center;
    text-shadow: 4px 4px 4px #121212;
    font-size: 20px;
    font-weight: bold;
	margin-bottom: 10px;
	//visibility:  collapse;
}

#StatusTime
{
    color: white;
    horizontal-align: left;
    text-shadow: 4px 4px 4px #121212;
    font-size: 16px;
    font-weight: bold;
	margin-left: 310px;
	margin-top: 10px;
	//margin-bottom: 10px;
	//visibility:  collapse;
}

#AllScoreRow
{
	flow-children: right;
    horizontal-align: right;
	margin-right: 8px;
	margin-bottom: 16px;

	//transition-property: opacity, transform;
    //transition-duration: 1s;
	//opacity: 0;
	//transform: scaleX(0) scaleY(0) translatey(-50px);
}

#WinningTeamLogo
{
	vertical-align: center;
	margin-right: 16px;
}

#EndScreenVictory
{
    font-size: 48px;
    color: #cccccc;
	//vertical-align: center;
	horizontal-align: center;

	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: -40px;
	margin-right: 140px;
}

.EndScreenWindow
{
    margin-top: 100px;
    margin-right: 50px;
    flow-children: down;
    horizontal-align: right;
	flow-children: down;
}

.AspectRatio4x3 .EndScreenWindow, .AspectRatio5x4 .EndScreenWindow
{
    margin-right: 50px;
}

.EndScreenVictoryRow
{
	width: 100%;
}

#CloseButton
{
	background-color: #121618;
	border: 3px solid #4d5051;
    margin-top: 20px;
    horizontal-align: right;
	vertical-align: bottom;
	width: 200px;
	margin-right: 7px;
}

#CloseButton:hover
{
	border: 3px solid white;
}

#CloseButton Label
{
    horizontal-align: center;
	vertical-align: center;
	color: #6f6f6f;
	text-transform: uppercase;
}

#CloseButton:hover Label
{
	color: white;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible
{
    transform: translatey( 0px );
}

#TeamsContainer
{
	horizontal-align: right;
    flow-children: down;
}

.FlyoutTeam
{
	margin-top: 3px;
	margin-bottom: 3px;

    transition-property: opacity, transform;
    transition-duration: 0.5s;
	opacity: 0;
	transform: translatey(-50px);
	
	margin-right: 8px;
}

.FlyoutTeam.local_player_team
{
}

.FlyoutTeam.team_endgame
{
	opacity: 1;
	transform: translatey(0px);
}

.FlyoutTeam.no_players
{
	visibility: collapse;
}

.FlyoutTeamData
{
    flow-children: right;
}

.TeamInfo
{
	margin-top: 1px;
	height: 100%;
}

#TeamColor_GradentFromTransparentLeft
{
	width: 100%;
	height: 100%;
}

.FlyoutPlayer
{ 
    flow-children: right;
}

.TeamCloseSpacer
{
}

#PlayersContainer
{
    flow-children: down;
}

.local_player_team #PlayersContainer
{
    //box-shadow: fill #ffffff40 -3px -3px 3px 6px;
}

.TeamId
{
    flow-children: right;
}

#TeamLogo
{
	vertical-align: top;
	horizontal-align: right;
    height: 30px;
    width: 30px;
	margin-top: 2px;
	margin-right: 2px;
}

#TeamScorePanel
{
	margin-top: 1px;
	margin-left: 306px;
	width: 79px;
	height: 100%;
    //background-color: BACKGROUND_COLOR;
}

#TeamScore
{
	vertical-align: center;
	horizontal-align: center;
	color: #cccccc;
	font-size: 42px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	margin-top: -2px;
}

.one_player #TeamScore
{
	font-size: 30px;
}

.local_player_team #TeamScore
{
	//color: white;
}

.Legend
{
	flow-children: right;
	horizontal-align: right;
	margin-right: 8px;
}

.Legend Label
{
	text-transform: uppercase;
	font-size: 12px;
	color: #E0E9Eb;
}

.PlayerRow
{
	height: 32px;
	background-color: BACKGROUND_COLOR;
	border-bottom: 1px solid #00000066;
}

#PlayerRowContainer
{
	flow-children: right;
	height: 32px;
}

#_dynamic_item_0,
#_dynamic_item_1,
#_dynamic_item_2,
#_dynamic_item_3,
#_dynamic_item_4,
#_dynamic_item_5
{
	margin: 1px;
	width: 43px;
	height: 32px;
	//background-color: BACKGROUND_COLOR;
}

#HeroIcon
{
    vertical-align: middle;
	border: 1px solid black;
}

#PlayerDetailsContainer,
#LevelContainer,
#KillsBossesContainer,
#KillsCreepsContainer,
#DeathsContainer,
#RatingContainer,
#AssistsContainer,
#UpdContainer
{
	height: 100%;
	border-right: 1px solid #00000066;
}

#UpdContainer
{
	height: 100%;
	width: 85px;
}

.ScoreboardPanel
{
    //background-color: BACKGROUND_COLOR;
	//margin-top: 1px;
	//margin-left: 1px;
	height: 100%;
}

.LegendPanel
{
	//margin-top: 1px;
	//margin-left: 1px;
}

.ScoreboardPanel Label
{
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
	margin-top: -2px;
}

.UltimateIndicatorShared
{
	margin-left: 44px;
	margin-top: 2px;
	vertical-align: center;
	width: 20px;
	height: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#Level,
#KillsCreeps,
#KillsBosses,
#Deaths,
#Rating,
#Upd,
#Assists,
#PlayerGoldAmount
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 20px;
	//margin-top: 3px;
	height: 20px;
}

#PlayerName
{
	font-size: 20px;
	font-weight: bold;
	//margin-bottom: 0px;
	margin-top: 5px;
	padding-left: 4px;
	color: #cccccc;
	white-space: nowrap;
}

#HeroNameAndDescription
{
	padding-left: 4px;
	font-size: 13px;
	text-shadow: 2px 2px 2px black;
	margin-top: 0px;
	color: #999999;
	vertical-align: bottom;
}

#PlayerDetailsContainer
{
	height: 100%;
}

#PlayerAndHeroName
{
	height: 100%;
}

#PlayerItemsContainer
{
	flow-children: right;
	margin-left: 1px;
}

#PlayerItemsContainer Image
{
	margin-left: 1px;
	width: 43px;
	height: 32px;
	//background-color: BACKGROUND_COLOR;
}



.is_local_player Label
{
	//color: white;
}

.ScoreCol_TeamInfo
{
	width: 80px;
}

.ScoreCol_PlayerDetails
{
	width: 170px;
}

.ScoreCol_TeamScore
{
	width: 80px;
	text-align: center;
}

.ScoreCol_Hero
{
	width: 53px;
}

.ScoreCol_Level
{
	width: 50px;
	text-align: center;
}

.ScoreCol_KillsBosses,
.ScoreCol_KillsCreeps,
.ScoreCol_Deaths,
.ScoreCol_Rating,
.ScoreCol_Level,
.ScoreCol_Assists
{
	width: 50px;
	text-align: center;
}

.ScoreCol_Upd
{
	width: 85px;
	text-align: center;
}

.ScoreCol_Items
{
	width: 280px;
	text-align: center;
}

.ScoreCol_Gold
{
	width: 70px;
	text-align: center;
}
