
.HeroSelectOverlayRoot
{
	width: 100%;
	height: 210px;
    margin-top: 50px;
    flow-children: right;
}

#HeroSelectPlayersContainer
{
    width: 100%;
    flow-children: right;
}

.HeroSelectOverlayTimer
{
	width: 80px;
	height: 100%;
	margin-right: 9px;
}

#Timer
{
	margin-top: 8px;
    font-size: 48px;
    color: #CCCCCC;
	horizontal-align: center;
}

#TimerBg
{
	wash-color: #222222;
}

#TimerBg,
#TimerRing
{
	width: 70px;
	height: 70px;
	margin-top: 2px;
	horizontal-align: center;
}

#TimerLabel
{
	margin-top: 76px;
    color: #a9aaaa;
    font-size: 16px;
	text-transform: uppercase;
	horizontal-align: center;
}

#PlayersContainer
{
    horizontal-align: center;
    flow-children: right;
    height: 100px;
}

.local_player_team
{
	width: 100%;
    height: 50px;
    box-shadow: fill #ffffff80 -3px -3px 3px 6px;
}

#EndSpacer
{
    width: fill-parent-flow(1);
}

#Spacer
{
	width: 5px;
}

.HeroSelectPlayerRoot
{
    flow-children: down;
    width: 98px;
}


#PlayerGradient
{
	width: 90%;
	height: 24px;
    horizontal-align:center;
}


#PlayerPortrait
{
    background-color: #444444;
    border: 1px solid black;
    width: 90px;
    height: 50px;
    horizontal-align:center;
}

#PlayerName
{
	text-align: center;
	margin-top: 3px;
    color: #a9aaaa;
    font-size: 16px;
    width: 90px;
    white-space: nowrap;
    horizontal-align:center;
}

.HeroSelectPlayerRoot.hero_highlighted #PlayerPortrait
{
    saturation: 0.0;
}
