.TopBarRoot
{
  width: 100%;
  height: 100%;
  flow-children: right;
  //border: 1px solid blue;

}

#RoundPanel
{
	//border: 1px solid red;
	flow-children: right;
	height: 42px;
	margin-left: 100px;
}

#RoundName
{
	//border: 1px solid yellow;
	width: 300px;
	text-align: right;
	font-weight: bold;
	font-size: 25px;
	color: white;
	text-shadow: 2px 2px 2px black;
	vertical-align: center;
}

#RoundIcon
{
	border: 1px solid black;
	height: 64px;
	width: 86px;
	vertical-align: center;
}

#VS
{
	//border: 1px solid green;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	height: 30px;
	width: 45px;
}

.HeroIcon
{
	
	//margin-left: 5px;
	//margin-right: 5px;
	height: 36px;
	width: 64px;
}

#PlayerColorBar
{
    height: 6px;
    width: 100%;
    border-bottom: 1px solid #000000;
    background-color: red;
}

