
.TimerPanel
{
    flow-children: down;
    margin-left: 400px;
    margin-top: 2px;
    margin-right: -40px;
    width: 100px;
    height: 100px;
    background-image: url("file://{images}/custom_game/goal_logo.psd");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}


#TimerPanel_Text
{
	margin-top: 10px;
    font-size: 27px;
    font-weight: bold;
    color: #9e7305;
    text-align: center;
	width: 100%;
    text-shadow: 3px 3px 3px #7b612b;
	text-transform: uppercase;
    text-overflow: clip;

}

#TimerPanel_Number
{
	//margin-top: -20px;
    horizontal-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 30px;
    color: white;
	text-shadow: 3px 3px 3px 2.0 #7b612b;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
    text-overflow: clip;
}

#TimerPanel_Timer
{
	margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    color: white;
	text-shadow: 2px 2px 2px #7b612b;
    text-align: center;
	width: 100%;
    text-overflow: clip;
}

#TimerPanel_Timer.timer_visible
{
    opacity: 1;
}

#TimerPanel_Timer.timer_hidden
{
    opacity: 0;
}

#TimerPanel_Timer.timer_alert
{
    color: red;
}

