.Precache {
	background-image: url('file://{images}/items/lia_alanith_spear.png');
	background-image: url('file://{images}/items/lia_amulet.png');
	background-image: url('file://{images}/items/lia_amulet_of_spell_shield.png');
	background-image: url('file://{images}/items/lia_ancient_glove.png');
	background-image: url('file://{images}/items/lia_anti_magic_potion.png');
	background-image: url('file://{images}/items/lia_armor_of_the_red_mist.png');
	background-image: url('file://{images}/items/lia_axe.png');
	background-image: url('file://{images}/items/lia_banner_of_victory.png');
	background-image: url('file://{images}/items/lia_battle_axe.png');
	background-image: url('file://{images}/items/lia_blade_of_rage_agi.png');
	background-image: url('file://{images}/items/lia_blade_of_rage_int.png');
	background-image: url('file://{images}/items/lia_blade_of_rage_str.png');
	background-image: url('file://{images}/items/lia_blood_blade.png');
	background-image: url('file://{images}/items/lia_blood_moon.png');
	background-image: url('file://{images}/items/lia_boar.png');
	background-image: url('file://{images}/items/lia_book_of_the_dead.png');
	background-image: url('file://{images}/items/lia_boots.png');
	background-image: url('file://{images}/items/lia_boots_of_invisibility.png');
	background-image: url('file://{images}/items/lia_bottle.png');
	background-image: url('file://{images}/items/lia_claws.png');
	background-image: url('file://{images}/items/lia_crown_of_death.png');
	background-image: url('file://{images}/items/lia_crusher.png');
	background-image: url('file://{images}/items/lia_demonic_figurine.png');
	background-image: url('file://{images}/items/lia_divine_armor.png');
	background-image: url('file://{images}/items/lia_dust_of_appearance.png');
	background-image: url('file://{images}/items/lia_dwarf_armor.png');
	background-image: url('file://{images}/items/lia_enchanted_shield.png');
	background-image: url('file://{images}/items/lia_enchanted_shield_2.png');
	background-image: url('file://{images}/items/lia_ferus_shield.png');
	background-image: url('file://{images}/items/lia_ferus_shield1.png');
	background-image: url('file://{images}/items/lia_fire_gloves.png');
	background-image: url('file://{images}/items/lia_fire_gloves_2.png');
	background-image: url('file://{images}/items/lia_fire_rod.png');
	background-image: url('file://{images}/items/lia_fire_sword.png');
	background-image: url('file://{images}/items/lia_ghost_blade.png');
	background-image: url('file://{images}/items/lia_gloves_of_haste.png');
	background-image: url('file://{images}/items/lia_gloves_of_strength.png');
	background-image: url('file://{images}/items/lia_glove_of_pain.png');
	background-image: url('file://{images}/items/lia_hammer.png');
	background-image: url('file://{images}/items/lia_hammer_of_titans.png');
	background-image: url('file://{images}/items/lia_healing_ward.png');
	background-image: url('file://{images}/items/lia_health_elixir.png');
	background-image: url('file://{images}/items/lia_health_stone_potion.png');
	background-image: url('file://{images}/items/lia_health_stone_potion_hw.png');
	background-image: url('file://{images}/items/lia_hell_gloves.png');
	background-image: url('file://{images}/items/lia_hell_mask.png');
	background-image: url('file://{images}/items/lia_helm.png');
	background-image: url('file://{images}/items/lia_huge_axe.png');
	background-image: url('file://{images}/items/lia_hyper_boots.png');
	background-image: url('file://{images}/items/lia_ice_sword.png');
	background-image: url('file://{images}/items/lia_knight_cuirass.png');
	background-image: url('file://{images}/items/lia_knight_shield.png');
	background-image: url('file://{images}/items/lia_lightning_bow.png');
	background-image: url('file://{images}/items/lia_lightning_spear.png');
	background-image: url('file://{images}/items/lia_lunar_necklace.png');
	background-image: url('file://{images}/items/lia_magic_bow.png');
	background-image: url('file://{images}/items/lia_magic_helm.png');
	background-image: url('file://{images}/items/lia_magic_necklace.png');
	background-image: url('file://{images}/items/lia_magic_staff.png');
	background-image: url('file://{images}/items/lia_mana_elixir.png');
	background-image: url('file://{images}/items/lia_mana_staff.png');
	background-image: url('file://{images}/items/lia_mana_stone.png');
	background-image: url('file://{images}/items/lia_mana_stone_potion.png');
	background-image: url('file://{images}/items/lia_mana_stone_potion_hw.png');
	background-image: url('file://{images}/items/lia_mantle.png');
	background-image: url('file://{images}/items/lia_mask.png');
	background-image: url('file://{images}/items/lia_mask_of_death.png');
	background-image: url('file://{images}/items/lia_mithril_armor.png');
	background-image: url('file://{images}/items/lia_necklace.png');
	background-image: url('file://{images}/items/lia_orb_of_fire.png');
	background-image: url('file://{images}/items/lia_orb_of_frost.png');
	background-image: url('file://{images}/items/lia_pantilus_blade.png');
	background-image: url('file://{images}/items/lia_poleaxe_of_rage.png');
	background-image: url('file://{images}/items/lia_potion_of_invisibility.png');
	background-image: url('file://{images}/items/lia_potion_of_invulnerability.png');
	background-image: url('file://{images}/items/lia_pure_light.png');
	background-image: url('file://{images}/items/lia_ring_of_protection.png');
	background-image: url('file://{images}/items/lia_ring_of_regeneration.png');
	background-image: url('file://{images}/items/lia_runed_bracers.png');
	background-image: url('file://{images}/items/lia_runed_gloves.png');
	background-image: url('file://{images}/items/lia_rune_of_speed.png');
	background-image: url('file://{images}/items/lia_scepter_of_power.png');
	background-image: url('file://{images}/items/lia_scroll_of_restoration.png');
	background-image: url('file://{images}/items/lia_scroll_of_secret_knowledge.png');
	background-image: url('file://{images}/items/lia_seal_of_power_armor.png');
	background-image: url('file://{images}/items/lia_seal_of_power_damage.png');
	background-image: url('file://{images}/items/lia_seal_of_power_shop.png');
	background-image: url('file://{images}/items/lia_shield_of_death.png');
	background-image: url('file://{images}/items/lia_shield_of_endurance.png');
	background-image: url('file://{images}/items/lia_spear.png');
	background-image: url('file://{images}/items/lia_spherical_staff.png');
	background-image: url('file://{images}/items/lia_staff.png');
	background-image: url('file://{images}/items/lia_staff_of_help.png');
	background-image: url('file://{images}/items/lia_staff_of_help_2.png');
	background-image: url('file://{images}/items/lia_staff_of_illusions.png');
	background-image: url('file://{images}/items/lia_staff_of_light.png');
	background-image: url('file://{images}/items/lia_staff_of_power.png');
	background-image: url('file://{images}/items/lia_steel_sword.png');
	background-image: url('file://{images}/items/lia_stormwind_horn.png');
	background-image: url('file://{images}/items/lia_sword_of_solidarity.png');
	background-image: url('file://{images}/items/lia_sword_of_solidarity_2.png');
	background-image: url('file://{images}/items/lia_thugs_dagger.png');
	background-image: url('file://{images}/items/lia_totem_of_persistence.png');
	background-image: url('file://{images}/items/lia_troll_defender.png');
	background-image: url('file://{images}/items/lia_troll_healer.png');
	background-image: url('file://{images}/items/recipe.png');
}