
.TradeOverlayRoot
{
	width: 100%;
	height: 100%;
}

#TradeMain
{
	flow-children: down;
	margin-top: 140px;
	margin-left: -380px;
	width: 380px;
	height: 300px;



	transition-property: transform;
    transition-duration: 0.1s;

	background-image: url( "file://{images}/custom_game/trade_bar/background.png" ); 
}

#TradeMain.Open
{
	transform: translateX(380px);
}

#OpenButton
{
	width: 30px;
	height: 30px;
	background-image: url( "file://{images}/custom_game/trade_bar/trade-new.png" ); 
 
	border-radius: 0px;
	margin-left: 207px;
	margin-top: 6px;
	opacity: 0.8;
}

#OpenButton:active
{
	width: 30px;
	height: 30px;
	background-image: url( "file://{images}/custom_game/trade_bar/trade-new-active.png" ); 
 
	border-radius: 0px;
	margin-left: 207px;
	margin-top: 6px;
	opacity: 0.8;
}

#TradeSign:hover
{
	brightness:1.7;
}

#HeroPick
{
	horizontal-align: center;
	vertical-align: top;
	width: 280px;
	height: 35px;
	margin-top: 40px;
}

DropDownMenu
{
	width: 280px;
	background-color: #111111FF;
}

DropDown Label
{
	color: white;
}

DropDownMenu Label:hover
{
	brightness: 1.7;
}

.images
{
	horizontal-align: left;
	vertical-align: bottom;

	flow-children: right;
	margin-top: 20px;
	
	width: 380px;
	height: 25px;
}

.gold
{
	horizontal-align: left;
	vertical-align: bottom;

	margin-left: 100px;
}

.lumber
{
	horizontal-align: right;
	vertical-align: bottom;

	margin-right: 95px;
}


.acceptdecline
{
	horizontal-align: center;
	vertical-align: bottom;

	flow-children: right;
	padding: 0px;
	
	margin-bottom: 50px;
	width: 300px;
	height: 37px;
}


#accept
{
	horizontal-align: left;
	vertical-align: top;
	width: 145px;
	height: 37px;

	margin-left: 2px;
	background-image: url( "file://{images}/custom_game/trade_bar/greennn.png" ); 
}

#accept:active
{
	background-image: url( "file://{images}/custom_game/trade_bar/greenn.png" ); 
}

#accept:hover Label 
{
	color:white;
}

#accept_text
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 4px;
}

#decline
{
	horizontal-align: right;
	vertical-align: top;
	width: 145px;
	height: 37px;

	margin-right: 3px;
	background-image: url( "file://{images}/custom_game/trade_bar/rednn.png" ); 
}

#decline:active
{
	background-image: url( "file://{images}/custom_game/trade_bar/redn.png" ); 
}

#decline:hover Label 
{
	color:white;
}

#decline_text
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 4px;
}



.buttons
{
	horizontal-align: center;
	vertical-align: bottom;

	flow-children: right;
	margin-top: 5px;

	height:47px;
}


#MinusGold 
{ 

	vertical-align: center; 
	width: 46px; 
	height: 47px; 
	margin-top: 0px; 
	margin-left: 0px; 
	background-image: url( "file://{images}/custom_game/trade_bar/left.png" ); 
	}

#MinusGold:active
{ 
	background-image: url( "file://{images}/custom_game/trade_bar/leftnajata.png" ); 
}

#GoldEntry
{ 
	vertical-align: center; 
	width: 60px; 
	height: 40px; 

	//margin-left: 70px; 

	text-align: center;
	font-size: 18px;
	font-weight: bold;
}
#PlusGold 
{ 
	vertical-align: center; 
	width: 46px; 
	height: 47px; 

	margin-left: 1px; 
	background-image: url( "file://{images}/custom_game/trade_bar/right.png" ); 
}

#PlusGold:active 
{ 
	background-image: url( "file://{images}/custom_game/trade_bar/rightnajata.png" ); 
}

#MinusLumber 
{ 
	vertical-align: center; 
	width: 46px; 
	height: 47px; 

	//margin-right: 130px; 
	background-image: url( "file://{images}/custom_game/trade_bar/left.png" ); 
}

#MinusLumber:active  
{ 
	background-image: url( "file://{images}/custom_game/trade_bar/leftnajata.png" ); 
}

#LumberEntry
{ 
	vertical-align: center; 
	width: 60px; 
	height: 40px; 

	font-size: 18px;
	font-weight: bold;
}

#PlusLumber
{  
	vertical-align: center; 
	width: 46px; 
	height: 47px; 

	margin-left: 1px; 
	background-image: url( "file://{images}/custom_game/trade_bar/right.png" ); 
}

#PlusLumber:active  
{ 
	background-image: url( "file://{images}/custom_game/trade_bar/rightnajata.png" ); 
}

#StatusTrade
{
    flow-children: down;
    horizontal-align: left;
    //opacity: 1;
    //transform: scaleX(2) scaleY(2);
    //margin-top: 80px;
    //transition-property: transform, opacity;
	//transform: translatex( -525px );
    //transition-duration: 0.6s;
    //visibility:  visible; // collapse
    border: 0px solid blue;
}

.unshow #StatusTrade
{ 
    //opacity: 0;
    //transform: scaleX(1) scaleY(1);
    //visibility: visible; 
	transform: translatex( -525px );
	transition-property: transform, opacity;
	transition-duration: 0.6s;
}

#StatusTrade_Text
{
    color: white;
    horizontal-align: left;
    text-shadow: 4px 4px 4px #121212;
    font-size: 20px;
    font-weight: bold;
	//visibility:  collapse;
}


#Tradename
{
    color: white;
    horizontal-align: center;
    margin-top: 5px;
    margin-left: 0px;
    text-shadow: 4px 4px 4px #121212;
    font-size: 18px;
    font-weight: bold;
	//visibility:  collapse;
}