



.TradeOverlayRoot
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 570px;
	flow-children: down;
	padding: 0px;
	
	width: 412px;
	height: 300px;

    transform: translatex( -380px ); //381
    transition-property: transform;
    transition-duration: 0.5s;
	
}

.TradeMain
{
	horizontal-align: left;
	vertical-align: bottom;

	flow-children: down;
	padding: 0px;
	
	width: 380px;
	height: 300px;


    transition-property: transform;
    transition-duration: 0.5s;
	background-image: url( "file://{images}/custom_game/trade_bar/background.png" ); 	
}


.TradeOverlayRoot.could_vis
{
    transform: translatey( 1px );
}

#menu
{


}
.MainBar
{


	flow-children: down;
	padding: 0px;

    transform: translatex( -10px ); //381
    transition-property: transform;
    transition-duration: 0.5s;
}

#closedButton
{
	horizontal-align: right;
	vertical-align: top;
	width: 32px;
	height: 64px;
	margin-top: -265px;
	margin-right: 0px;
	background-image: url( "file://{images}/custom_game/tradegold_open.png" ); 
	
}

.closed #closedButton
{
	background-image: url( "file://{images}/custom_game/tradegold_close.png" ); 	
}

.miganie
{
	//transform: translatey( 200px );
	border: 1px solid white;
	//padding-top: 22px;
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #404040 ), color-stop( 0.1, #404040 ), color-stop( 0.8, #404040 ), to( #ffffff ) );
	opacity:0.5;
}

#closedButtonInset
{
	width: 100%;
	height: 100%;
	//border: 2px solid black;
    //background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.9, #c4a529 ), to( #ffffff ) );
	margin: 1px;
}

#closedButton:hover #closedButtonInset
{
	opacity:0.1;
	//background-color: #9e8b2c;
    //background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.2, #c4a529 ), color-stop( 0.75, #9e8b2c ), color-stop( 0.8, #c4a529 ), to( #ffffff ) );
}

#closedButton:active 
{
	//background: linear-gradient(top, #057cc0, #249ee4);
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffffff ), color-stop( 0.1, #404040 ), color-stop( 0.1, #404040 ), color-stop( 0.8, #404040 ), to( #ffffff ) );
	//background-color: gradient(linear, 0% 0%, 0% 100%, from(#057cc0), color-stop( 0.2, #c4a529 ), color-stop( 0.75, #9e8b2c), color-stop( 0.8, #c4a529 ) , to(#249ee4));
	//padding-top: 22px;
	//opacity:0.3;
}




#HeroPick
{
	horizontal-align: center;
	vertical-align: top;
	width: 280px;
	height: 30px;
	margin-top: 50px;
}

.images
{
	horizontal-align: left;
	vertical-align: bottom;

	flow-children: right;
	margin-top: 20px;
	
	width: 380px;
	height: 25px;
}

.gold
{
	horizontal-align: left;
	vertical-align: bottom;

	margin-left: 100px;
}

.lumber
{
	horizontal-align: right;
	vertical-align: bottom;

	margin-right: 100px;
}


.acceptdecline
{
	horizontal-align: center;
	vertical-align: bottom;

	flow-children: right;
	padding: 0px;
	
	margin-bottom: 50px;
	width: 270px;
	height: 37px;
}


#accept
{
	horizontal-align: left;
	vertical-align: top;
	width: 128px;
	height: 37px;

	margin-left: 0px;
	background-image: url( "file://{images}/custom_game/trade_bar/greenbut.png" ); 
}

#decline
{
	horizontal-align: right;
	vertical-align: top;
	width: 128px;
	height: 37px;

	margin-right: -6px;
	background-image: url( "file://{images}/custom_game/trade_bar/redbut.png" ); 
}

.buttons
{
	horizontal-align: center;
	vertical-align: bottom;

	flow-children: right;
	margin-top: 10px;
	width: 285px;
	height:47px;
}


#MinusGold 
{ 
horizontal-align: left; 
vertical-align: top; 
width: 46px; 
height: 47px; 
margin-top: 0px; 
margin-left: 0px; 
background-image: url( "file://{images}/custom_game/trade_bar/left.png" ); 
}

#GoldEntry
{ 
horizontal-align: left; 
vertical-align: top; 
width: 40px; 
height: 47px; 
margin-top: 10px; 
//margin-left: 70px; 


font-size: 18px;
font-weight: bold;

}
#PlusGold 
{ 
horizontal-align: left; 
vertical-align: top; 
width: 46px; 
height: 47px; 

//margin-left: 130px; 
margin-top: 0px;
background-image: url( "file://{images}/custom_game/trade_bar/right.png" ); 
}

#MinusLumber 
{ 
horizontal-align: right; 
vertical-align: top; 
width: 46px; 
height: 47px; 

//margin-right: 130px; 
margin-left: 20px;
background-image: url( "file://{images}/custom_game/trade_bar/left.png" ); 
}

#LumberEntry
{ 
horizontal-align: right; 
vertical-align: top; 
width: 40px; 
height: 47px; 
margin-top: 10px; 
margin-right: 0px; 

font-size: 18px;
font-weight: bold;

}

#PlusLumber
{ 
horizontal-align: right; 
vertical-align: top; 
width: 46px; 
height: 47px; 

margin-right: -1px; 
margin-top: 0px;
background-image: url( "file://{images}/custom_game/trade_bar/right.png" ); 
}


#StatusTrade
{
    flow-children: down;
    horizontal-align: left;
    //opacity: 1;
    //transform: scaleX(2) scaleY(2);
    //margin-top: 80px;
    //transition-property: transform, opacity;
	//transform: translatex( -525px );
    //transition-duration: 0.6s;
    //visibility:  visible; // collapse
    border: 0px solid blue;
}

.unshow #StatusTrade
{ 
    //opacity: 0;
    //transform: scaleX(1) scaleY(1);
    //visibility: visible; 
	transform: translatex( -525px );
	transition-property: transform, opacity;
	transition-duration: 0.6s;
}

#StatusTrade_Text
{
    color: white;
    horizontal-align: left;
    text-shadow: 4px 4px 4px #121212;
    font-size: 20px;
    font-weight: bold;
	//visibility:  collapse;
}
