#Contents 
{
	flow-children: down;
	width: 400px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2d2d2dfc ), to( #000000fc ) );
}


#TitleContainer
{
	flow-children:right;
	width: 100%;


}

#Title
{
	color:white;
	font-size: 22px;
}

#Level
{
	color:white;
	font-size: 15px;

}



#Description
{
	width: 100% ;
	
	border-top-width: 1px;
	border-top-color: #626262;
	border-top-style: solid;

	padding: 5px 0px 2px 0px;
}

#Level
{
	vertical-align: top;
	horizontal-align: right;
}

#Container
{
	width: 100%;
	flow-children:right;
}

#Bonus
{
	padding: 5px 0px 2px 0px;
}

#CostContainer
{
	flow-children:right;
	width: fit-children;
	height: 35px;
	vertical-align: top;
	horizontal-align:right;
}

#LumberIcon
{
	width: 35px;
	height: 35px;
	vertical-align: center;
}

#LumberCost
{
	font-size: 20px;
	color:green;

	padding-left: 5px;
	vertical-align: center;
}