*.bin

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/



game/dota_addons/life_in_arena/scripts/npc/config.bin
game/dota_addons/life_in_arena/scripts/npc/herolist.txt
*.bin
game/dota_addons/life_in_arena/tools_thumbnail_cache.bin
game/dota_addons/life_in_arena/panorama_debugger.cfg
