*.bin

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

node_modules

game/scripts/npc/config.bin
game/scripts/npc/herolist.txt
*.bin
game/tools_thumbnail_cache.bin
game/panorama_debugger.cfg
*.*_c
!game/models/creeps/**
!game/models/heroes/*
!game/materials/defualt/**
!game/materials/models/creeps/**
!game/materials/models/items/bounty_hunter/**
!game/models/props_structures/**
